[2018-03-06 21:37] CookieCookson opened #1 "injectGlobalPaths does not work on Windows"
When specifying paths for `injectGlobalPaths`, it cannot resolve the file path correctly on a Windows development environment. It seems to drop all of the slashes, I remember this happening during [early stencil developments](https://github.com/ionic-team/stencil/issues/196).

[code]

Steps to reproduce:
1. Create a global scss file e.g. `src/global/index.scss`
2. Modify `stencil.config.js` `sass(

[2018-03-10 12:00] CookieCookson commented on #1
@adamdbradley I've narrowed this issue down to:

https://github.com/ionic-team/stencil-sass/blob/8249dd83038940e1b17778fae7a0f85aae9b559b/src/util.ts#L35-L38

When removing these lines everything works on Windows, I haven't got a mac handy so I'm unable to test this on macOS. Is there a reason we are creating an absolute URL here?

[2018-03-13 13:49] CookieCookson commented on #1
I've tested this on a Mac and everything works OK when the lines are removed and `injectGlobalPaths` is set to bring in a global style sheet.

[2018-04-23 10:13] jcyh0120 commented on #1
Thanks, I modified this file ` node_modules/@stencil/sass/dist/index.cjs.js`
Then, it works!

[2018-04-27 15:17] cjpollard opened #3 "node-sass dependency throwing an error"
The node-sass version specified in package.json doesn't support environments running node v10, causing an error to be shown.  The latest release of node-sass (4.9.0) adds that support.

[2018-08-02 09:29] AmitMY opened #5 "Build doesn't recognize the library"
When I run any kind of `build` command, I get the following error:

I can tell you that `@stencil/sass` is in my node modules, latest version.

These are all of my dependencies:
[code]

And this is my `stencil.config.ts`:
[code]

[2018-08-02 11:54] adamdbradley commented on #5
How `sass` is imported changed in stencil `0.11.0`, but looks like your version of stencil is `0.10.10`: https://github.com/ionic-team/stencil/blob/master/CHANGELOG.md#-0110-2018-07-31

[2018-08-02 13:31] AmitMY commented on #5
Thanks, I tried using the old import style, didn't work. However, updating core worked!

[2018-08-02 13:31] #5 closed

[2018-08-06 13:48] CookieCookson opened #6 "plugin sass is incompatible with Config interface in stencil.config.ts"
**Stencil version:**
[code]

**I'm submitting a:**

[x] bug report
[ ] feature request

**Current behavior:**
When passing `sass()` into the `plugins` array of the config, lint errors are thrown that it is not compatible with type Plugin[].

See **Other information** for the full lint error message.

**Expected behavior:**
When passing `sass()` into the `plugins` array of the config, no lint error

[2018-08-06 14:49] CookieCookson commented on #6
False alarm, this seemed to be a cache issue in VS Code after importing the new version of the lib.

[2018-08-06 14:49] #6 closed

[2018-08-07 18:07] jacobgelman opened #7 "Unable to import partials in global directory"
I have a main stylesheet, global.scss, and two partials which I would like to import into it.

![Files](https://user-images.githubusercontent.com/3182119/43793851-8f9cc288-9a31-11e8-8f01-29b7742efd32.png)

At the top of global.scss, I try to import them as I normally would using Sass:
[code]

However, after doing this I receive the following error:
![Error](https://user-images.githubusercontent.co

[2018-08-23 03:01] ghost opened #8 "Injected SASS files not modified the component style on change"
This is config for stenctil sass

[code]

When I change my-component.scss, the style change properly. This is the result:

[code]

But, when I modified the injected SASS files (i.e _variables.scss) , Its not render the component style. This is the result

[code]

I want the component style render too when I change the Injected styles.

Current, I need to re run the `npm start` command to get affec

[2018-09-02 18:49] Sebosek opened #9 "Wrong transpilation of host element"
Hi,

[code]

is wrongly transpilet to

[code]
-- missing `disabled` attribute.

[2018-09-21 22:19] peterennis opened #11 "Security issue for hoek"
This version of stencil-sass reports the hoeks security problem.

See here for valid versions:
https://github.com/sass/node-sass/issues/2443

Seems minimum bump is to 4.2.1 ???
Problem here:

[code]

[2018-09-28 05:13] seanwuapps opened #12 "Tries to compile sass files from external component package"
Hi guys,

I've build a component library with Stencil and now trying to use it in a stencil-app.

In the stencil-app if I add stencil-sass support and run `npm start` it attempts to compile my stencil component, and since i have the mixin.scss file in `injdectGlobalPaths` inside the component project, the stencil-app will fail to compile sass.

Repos:
Component:
https://github.com/seanwuapps/wu-co

[2018-11-17 14:55] knutto commented on #8
This also happens if you change an imported sass or css file. The changed file is rebuilt, but the component which imports it is not :(

[2018-11-24 19:16] MrAntix commented on #12
looks like the compiled **collection-manifest.json** contains a ref to the scss file not the output of the sass build

[code]

If I manually change .scss to .css all works as expected

Also, this is probably why I am not getting styles in my e2e tests

@adamdbradley is this something that should be fixed in this project or in the stencil compiler?

[2019-01-16 22:18] alexander-patton opened #14 "includePaths throws linting error"
[code]
The code compiles and runs fine, but gives this linting error in VS Code...

Argument of type '{ includePaths: string[]; }' is not assignable to parameter of type 'PluginOptions'.
  Object literal may only specify known properties, and 'includePaths' does not exist in type 'PluginOptions'. [2345]

[2019-02-21 14:50] x1c0 opened #15 "watch mode for global styles not working"
I use shared styles across components, and for organisation purposes I have several sass files like so:

/src/global/app.scss
/src/global/header.scss
/src/global/footer.scss

Then inside of app.scss I link to the other sass files like so:
`@import "header.scss"`

This works great on first render, but when changing one of this imported styles, despite seeing the console debug message from stencil t

[2019-02-23 16:17] KenavR opened #16 "Use sass in styles property (component decorator)"
Not sure if this is the right place to ask this, but is it possible to use sass/scss inside the styles property of the decorator?

I like keeping components in a single file, but I also would like to use scss.

**Example**

[code]

thanks.

[2019-03-07 04:37] chris-dura commented on #14
I'm not sure if it's the proper solution, but I think so... the `PluginOptions` type extends the `Options` type from `node-sass`, so if you `npm install @types/node-sass` then VS Code should stop throwing an error (because it now knows that `Options` has an `includePaths` prop).

[2019-03-18 16:54] liyokuna commented on #1
Hello,

I am facing the same issue as @CookieCookson faced, I have the last release.
I have exactly the same settings as he did:
1. globals scss files, `src/scss/_variables.scss`
2. Adding sass plugin `sass({
      injectGlobalPaths: [
        'src/scss/_variables.scss'
      ]`
3. I eventually add `@import "/src/scss/variables.scss";` in scss file of my component
 after an error showing up in the

[2019-04-15 10:20] codef0rmer commented on #14
This works. The issue should now be closed.

[2019-04-15 16:55] #14 closed

[2019-04-26 21:11] adamdbradley commented on #11
No longer using node-sass, so we should be good now. Thanks

[2019-04-26 21:11] #11 closed

[2019-04-28 08:46] FDiskas opened #18 "does not works"
@ionic/core@4.2.0
@stencil/core@0.18.1-0
@stencil/sass@0.2.1

[code]

If I downgrade to `@stencil/sass@0.1.1` it works again

[2019-05-08 18:14] acoreyj commented on #18
Seeing the same myself, lots of similar errors

[code]

[2019-05-09 11:58] FDiskas commented on #18
Probably the main reason is dart-sass and node-sass differences

[2019-05-09 19:34] FDiskas commented on #18
It could be related https://github.com/sass/dart-sass/issues/568

[2019-06-01 15:24] peterpeterparker commented on #18
I faced and solved this issue by installing a version of ionic/core stencil one friendly (as displayed in the breaking changes list https://github.com/ionic-team/stencil/blob/master/BREAKING_CHANGES.md#stencil-one)

    npm rm @ionic/core --save
    npm install @ionic/core@one --save

[2019-06-04 18:37] pr3tori4n commented on #15
I'm seeing this as well. Any file referenced from the injectGlobalPaths array is not recompiled on-save. for example:
`plugins:[
    sass({
      injectGlobalPaths: ['src/globalStyles/variables.scss']
    })
  ] `

This is true if your change is valid or invalid. You have to restart the stencil dev server, at which point these files are re-compiled, at which point you may get errors (so you're get

[2019-06-04 19:11] pr3tori4n opened #20 "Bug: Sass build error contains an incorrect line when error is from a file referenced in injectGlobalPaths"
**Description**
If there's a compilation error in the sass, it outputs that error to the console. The error prints out the file, an error description, the line number, and the code from that line. When using the injectGlobalPaths option, if any of the SCSS files referenced by that option or any SCSS files imported by these files contains an error, the build errors and prints the error to the termi

[2019-06-04 19:32] pr3tori4n commented on #20
I'm also noticing what I think is a related issue: If there's an error in the component.scss file, the snippet of code and the Line number are also incorrect when using injectGlobalPaths. It seems there's something happening where the error is taking the line from the composed file that has the injected scss already added, rather than from source.

[2019-06-21 06:32] boradakash commented on #18
Does anybody find the solution for this issue?
I'm also getting the same error with the following version of library.
  "@ionic/core": "^4.5.0",
  "@stencil/core": "^1.0.7",
  "node-sass": "^4.11.0",

 "@stencil/sass": "^1.0.0",

[2019-06-21 06:49] FDiskas commented on #18
downgrade to @stencil/sass@0.1.1

[2019-06-21 07:10] boradakash commented on #18
Thanks @FDiskas, it has resolved that issue but got a new error now.
![image](https://user-images.githubusercontent.com/10610475/59904597-953ac880-9421-11e9-8711-1cc4e5585b0e.png)

stencil.config.ts looks like:
`import { sass } from '@stencil/sass';
import { Config } from '@stencil/core';
import builtins from 'rollup-plugin-node-builtins';
import globals from 'rollup-plugin-node-globals';
export c

[2019-07-04 13:12] chilipote commented on #8
Hi 👋
Do we have news about that one ?

It seems like . it's happening for `@stencil/core v1.1.2` also.

Thanks you for your support.

[2019-07-04 13:13] chilipote commented on #20
I think it's a duplicate of

https://github.com/ionic-team/stencil-sass/issues/8

[2019-07-04 13:15] chilipote commented on #7
Maybe a stupid question, but did you try : `@import "_normalize"` ( with the `_` ) or `@import "./_normalize"`

[2019-07-08 03:09] rjaguilar commented on #18
I'm having the exact same issue

[2019-07-29 16:15] ronnyek commented on #18
I've been unable to get stencil/sass to work in any real capacity. The 1.0.1 version seems to just complain about any and every import I pass in ("can't find stylesheet to import, though it often shows text from that stylesheet IN the error message)

If I downgrade, I get the error about not having the plugin initialized.

Also, should we be able to specify a scss file (with imports) as a the `glo

[2019-07-30 10:17] FDiskas commented on #18
Did you really installed `npm i -D @stencil/sass` ?

[2019-07-30 14:00] ronnyek commented on #18
yep. Sass is running, errors are getting kicked out by sass compiler itself.

I can get it working by only including it in a component directly. As soon as I try to handle includes from my scss files... stuff starts blowing up.

[2019-07-30 21:57] ronnyek commented on #18
Is it possible that this oldish bug might be the cause of inability to import scss files from a parent scss file?
https://github.com/sass/dart-sass/issues/284

Or is it truly a different sass file?

[2019-07-30 21:59] ronnyek commented on #18
I tried to build a unit test, to simulate the kinds of things I EXPECT to work, but dont seem to.  While I can get this to build, jest fails to execute complaining about `unexpected token {` in build.spec.ts

[2019-08-01 04:01] vinodloha commented on #18
@stencil/sass@^1.0.0 works but has some compatibility issues.

I too faced random errors in SCSS compilation with "@stencil/sass@^1.0.0", but because the error message did make little sense, pointed me to "sass-inline-svg" plugin not being compatible with this "@stencil/sass@^1.0.0", though same SCSS was working well with "@stencil/sass@^0.1.1".

Following were the errors in files, where i had use

[2019-08-01 16:13] soraya2 opened #22 "stencil-sass does not compile scss file"
I want to compile my main.scss file but it currently does not do anything. I am not seeing any errors. What do I need to change for this to work?
![stencil config](https://user-images.githubusercontent.com/14183508/62309119-1e183b80-b487-11e9-9f84-c2f5ae52cc24.png)
![stencil config_](https://user-images.githubusercontent.com/14183508/62309461-c9c18b80-b487-11e9-9183-d51e8c5734ae.png)

[2019-08-04 13:43] kairos666 commented on #18
+1
trying to migrate to stencil one but without any solution or solid workaround we are stuck.

my own investigation leads to node-sass VS dart-sass encoding handling differences.
Is there some easy way to retrofit node-sass in the stencil one sass plugin ?

[2019-08-04 17:26] kairos666 commented on #18
Not sure this will solve the overall issue here but here is how I've handled mine.
I was getting as a build log _StyleSassPlugin loadDiagnostic, TypeError: Cannot read property 'charAt' of undefined_

Here is the detail of the issue
[ ERROR ]  sass error: ...b-forms/bb-generic-select/bb-generic-selector-list/bb-generic-selector-list.scss:511:44
           $string: #3e3e3e is not a string.

Contrar

[2019-08-08 22:27] flobacher commented on #15
@x1c0 we used globalStyle and face the same issue...
Our workaround was to put all styles into this one global file, but to be able to use imports would be really  nice!

Variables are in a file referenced via injectGlobalPath..
We import it at the top of the global styles. Changeing anything in this varisble file triggeres a rebuild but does not regenerate global stxles 😔

[2019-08-21 04:22] jcfranco commented on #8
We faced a similar issue and worked around it by referencing partials by their exact name. Could you try the following (code assumes they're all partials)?

[code]

[2019-08-26 07:45] flobacher commented on #15
@manucorporat any update on this?

[2019-09-09 11:17] Alasiac commented on #18
I get the same issue ...'TypeError: Cannot read property...".

Simply by following the readme's I ended up with two dependencies: "@stencil/core": "^1.3.0",   "@stencil/sass": "^1.0.1"

My scss only contains one import and I added an includePaths to my node_modules/@thirdpartypackage in the plugins configuration for sass. (thirdpartypackage is also in a npm dependency)

By reading this thread, I s

[2019-09-10 05:28] FDiskas commented on #18
downgrade to @stencil/sass@0.1.1

[2019-09-10 12:18] vinodloha commented on #18
In my experience with it, usually an issue with compatibility of additional module you might be using  within SCSS. The error reported is very much random. So, if you narrow the scope of input SCSS you should be able to pinpoint the real problem and find an alternative solution.

[2019-09-11 06:27] Alasiac commented on #18
Downgrade does not work, as mentioned earlier in this thread, I get a plugin not found when using the old version of stencil/sass.

I'm only importing another scss from an external dependency. Not sure how I can pinpoint the problem or fix it, as this code is not under my control.

[2019-09-11 18:08] FDiskas commented on #18
Can you share your project?

[2019-09-17 01:15] jmcmullen commented on #8
Still having this issue, even when referencing the partials by their full name.
[code]

[2019-10-02 13:41] 4aficiona2 commented on #15
Did somebody find a workaround for this or has a solution so live reload works during development?

I almost can't believe how you should be able to develop a component library without having hot reload working. This seems so crucial for a consistent UI / UX and a proper DX.

[2019-10-10 17:29] rslibed commented on #22
My sass files are also not compiling

[2019-10-11 16:41] mikaelkaron opened #23 "Upgrading to 1.1.0 causes fatal error during build"
After upgrading to `1.1.0` running `npm start` results in:

[code]

`stencil.config.ts`

[code]

Running with `@stencil/core@1.7.0`

[2019-10-13 17:31] jdnichollsc commented on #23
Same error with a new project:
[code]

- "@stencil/core": "^1.7.1"
- "@stencil/sass": "^1.1.0"

[2019-10-15 15:48] edgarordonez commented on #23
Hey!

Same here when I tried to upgrade [d3-stencil](https://d3-stencil.dev) 👀

[2019-10-15 16:35] ozee commented on #23
Ditto, I am also encountering the same issue when using `1.1.0`.

[2019-10-16 06:25] warapitiya commented on #23
Temporary solution is to do

[code]

[2019-10-22 13:15] itstueben commented on #23
Same Error with new project.
    "@stencil/core": "1.7.3",
    "@stencil/sass": "^1.1.0"

[2019-10-24 16:04] bitflower commented on #23
Got it too

Slack reference: https://stencil-worldwide.slack.com/archives/C7987GCA2/p1571932985117100

[2019-10-28 13:31] audacitus commented on #23
Had a the same issue. sass@1.0.1 worked.

[2019-10-28 13:58] flawyte commented on #23
Same issue for me with :
- `@stencil/core` 1.7.4
- `@stencil/sass` 1.1.0

Issue opened 17 days ago, and still no sign of any Stencil team member... Stencil is a great tool but the lack of support on GitHub issues really is a problem.

[2019-10-28 14:22] flawyte commented on #23
Same issue with :
- `@stencil/core` 1.7.4
- `@stencil/sass` 1.1.0

Issue opened 17 days ago, and still no sign of any Stencil team member... Stencil is a great tool but the lack of support on GitHub issues really is a problem.

[2019-10-29 18:38] adamdbradley commented on #23
Should be fixed as of `1.1.1`. Thanks

[2019-10-29 18:38] #23 closed

[2019-12-02 16:37] jan-paulus commented on #15
We're using [concurrently](https://www.npmjs.com/package/concurrently) to run the stencil dev-server, node-sass and postcss-cli at the same time. In addition to this we set the `reloadStrategy` of the stencil dev-server to `pageReload` (see docs [here](https://stenciljs.com/docs/dev-server)).

The process looks as follows:

- node-sass watches for scss file changes and compiles them to a temporary

[2019-12-06 13:52] quackes opened #24 "using custom sass functions not working"
sass offers the api to register custom functions to use in sass stylesheets (https://sass-lang.com/documentation/js-api#functions)

These do not work due to the fact that stencil-sass comes with a packed version of dart-sass

# Steps to reproduce

stencil.config.ts
[code]

src/global/style.scss
[code]

when I run the build the following error occurs

[code]

# Cause

The error occurs because dart-

[2019-12-24 22:45] MrMcGibblets opened #25 "Update to 1.23 or greater"
A rather large new feature from sass that should benefit us all in the web component world is the change from @import to @use.

@use doesn't allow duplication of CSS imports, if you are working with encapsulated CSS (i.e shadow: true) this is a big thing, as for example currently with import if we want to use font-awsome icons or any module we will have to import that CSS for every component we wa

[2019-12-24 22:48] MrMcGibblets commented on #25
Closing issue, looking further, it appears that we are already at 1.23. Must be an issue elsewhere

[2019-12-25 00:18] MrMcGibblets commented on #25
Reopening, mainly because I can't work this out and hoping someone can help. Changing from @import to @use as described is the sass docs.

I get the error - _StyleSassPlugin loadDiagnostic, TypeError: Cannot read property 'charAt' of undefined_

Any ideas? Anyone else using @use perfectly fine?

[2019-12-30 17:38] argentini opened #26 "Sourcemaps not being created"
Using `stencil.config.ts` sass() options like the following do nothing:

[code]

No sourcemap data is generated in the resulting CSS file, and no `*.cs.map` file is generated when specifying a sourcemap path.

[2020-01-06 12:21] nekator commented on #24
you can use [this ](https://www.npmjs.com/package/stencil-node-sass) sass plugin as alternative.
It uses node-sass instead of sass(dart-sass) and requires node-sass as peerDependency.

I know this is no real solution to your problem but you can use this sass-plugin util the real problem is fixed.

[2020-01-06 18:08] #25 closed

[2020-02-01 13:58] Mishurin opened #28 "Option "data" is overriden"
Would it be possible to enable "data" option?
Seems like it is occupied and overridden internally.
See https://github.com/ionic-team/stencil-sass/blob/c55b54e0f85f9ecd579c68a31e0606e1b7b76552/src/util.ts#L17

[2020-02-01 14:05] Mishurin commented on #28
Something like renderOpts.data = opts.data + sourceText;

Then we can make sass injections right from the stencil.config

[2020-03-24 20:21] jkarttunen commented on #15
Seconded, this is very annoying, since I get Jest errors or something else completely unrelated on every typo on variable name, but delayed until I edit some component file.
My best workaround was to import the root variables & mixins file in each component.

[2020-03-24 20:48] break-stuff commented on #15
*** if you are using StoryBook ***

I have been wrestling with this for some time. While I don't have a direct solution to this issue, what I did find is that I can leverage StoryBook to hot-reload my SASS changes. I still wire up my SASS for Stencil to compile with my builds, but my development is done in StoryBook stories, so I leverage it's WebPack implementation to watch for my changes and rel

[2020-03-25 18:44] jkarttunen commented on #15
My workaround is to go old-school and
1. Use node-sass to compile every .scss file to .css files with `node-sass -w src/ -o src/ --recursive` (eg. button.scss to button.css)
2. import button.css to stencil. Now css changes trigger stencil to refresh.
3. For this to work, i need to import design tokens on every component `@import '../_tokens';`

[2020-03-30 20:17] stevenbriscoeca opened #29 "Include partial sass file in component does not update web browser in watch"
Hello,

If you have this structure :
[code]

In breadcrumb.scss I include partial.scss.

When I change the css file partial.scss and save that file, I expect the visuals in the browser to have updated.

I need to save breadcrumb.scss to take into account the partials update

[2020-03-31 11:25] P1NHE4D opened #30 "@use support for global injection"
As far as I am concerned, the `injectGlobalPaths` config adds the paths as `@import` declarations to all components.

However, the `@import` rule will be phased at some point and using global injection in combination with the `@use` rule leads to an error as the `@use` must come before any other rules, which is currently not the case if the global paths are added as `@import` declarations to all c

[2020-04-06 08:47] #30 closed

[2020-05-09 00:40] anthonylebrun commented on #24
I've used dart-sass with `node-sass-utils` (don't let the name fool you) successfully to write custom functions sass functions is a VueJS project before using the `castToSass` function. One caveat is that castToSass doesn't support common sass types like colors.

I'm actually working on a library (work in progress) to make writing custom sass functions and type conversions more straightforward. It

[2020-05-09 15:58] anthonylebrun commented on #24
@nekator thanks, that worked but I do miss the latest the latest sass features :(

[2020-05-19 16:14] petergaal91 opened #32 "external package import with '~' is broken"
I found a weird bug around the core resolveModule implementation. I'm not sure this is the right place for this, but it's related to this package so I open a bugticket here.

The issue is the following:
We use font-awesome free package in our project and we cannot import the SCSS files directly with `~` for some reason in stencil.

[code]

Repository for this bug: https://github.com/petergaal91/st

[2020-05-20 12:35] mikhail-hatsilau opened #33 "Consider usage of @use statement instead of @import for injectGlobalPath options"
It is possible to pass additional files to the `injectGlobalPath` option. The files are injected to sass files with @import rule. But SASS team wants to deprecate it. Please see https://sass-lang.com/documentation/at-rules/import. Moreover, @import rule can not go before the `@use` rule if it is used in the project.
**Expected result**
It is possible to inject files, passed via injectGlobalPath op

[2020-05-20 14:47] petergaal91 commented on #32
Ok, I found a solution:

* I added a new package into our project: [node-sass-package-importer](https://www.npmjs.com/package/node-sass-package-importer)
* I updated the stencil.config.ts file with the following:
[code]

I see [here](https://github.com/ionic-team/stencil-sass/blob/1ef603c7114f5756bded051d2ce2d6c1f79447cf/src/util.ts#L72) a custom importer implementation but it's not included or no

[2020-06-16 11:45] dutscher commented on #29
+1

[2020-07-05 10:05] reda-alaoui commented on #22
https://github.com/ionic-team/stencil-sass/blob/547d1bde641c144bd586d2e3f8d7fb3dc2f061b6/src/util.ts#L62

Looks like the `file` option is always removed :rofl:

[2020-07-08 01:01] hnipps opened #34 "Can't find stylesheet to import"
I'm trying to use `material-components-web` with Stencil but cannot import the styles.

Their [readme for the button component](https://github.com/material-components/material-components-web/tree/master/packages/mdc-button#styles) tells me to import their styles like so:
[code]

`stencilconfig.ts`:
[code]

When I try to build the component library I get this error:
[code]

[2020-07-08 02:14] hnipps commented on #34
So I found out that my sass `includePaths` option had to be changed to `../../../node_modules` because of my directory structure.

Case closed!

[2020-07-08 02:14] #34 closed

[2020-07-11 15:30] petergaal91 commented on #32
Fixed in 1.3.2 version: https://github.com/ionic-team/stencil-sass/commit/47836b5c5695763de47bfe44691394c5c1978eff

[2020-07-11 15:30] #32 closed

[2020-08-16 14:40] patrickalima98 commented on #15
Hello, any news?

[2020-08-18 17:06] #33 closed

[2020-08-24 15:44] michalklim commented on #28
Bumping up. That change would be really helpful when it comes to passing ie dynamic variables to sass files. For now, there is no simple way of doing that.

Maybe you could also consider adding another option like `additionalData` similar to what webpack [sass-loader](https://webpack.js.org/loaders/sass-loader/#additionaldata) is doing

If you like one of the approaches I'm more than happy to subm

[2020-08-24 16:24] jaredcbaum commented on #20
fixed as of v1.4.0

[2020-08-24 16:24] #20 closed

[2020-08-25 00:21] jaredcbaum commented on #7
Working as of v1.4.0 (Possibly earlier).
I tested using the @use syntax which is now recommended by the sass team.

In your situation you would say:
`@use 'normalize' as '*'; `
in order to import into global namespace.

[2020-08-25 00:21] #7 closed

[2020-08-25 00:46] jaredcbaum commented on #9
You could do:
`:host(.disabled) {
    pointer-events: none;
    color: $color__gray--dark;
}`
if you wanted to style when the disabled class is applied.

Since the Host element itself won't be an item that can accept focus or input (for example a textbox or button), you wouldn't be able to style with the :disabled css selector anyway.
In your case you could do:
`button:disabled {
    pointer-event

[2020-08-25 00:46] #9 closed

[2020-08-25 02:48] jaredcbaum commented on #15
duplicate of #8

[2020-08-25 02:48] #15 closed

[2020-09-05 20:43] jwillmer opened #38 "Support of Stencil 2.0"
Are were plans to support Stencil 2.0 and when would that be? We can't migrate our projects to Stencil 2.x since `stencil-sass` does not support it.

[2020-09-07 20:42] #12 closed

[2020-10-22 13:50] aharris commented on #8
Has there been any update on this or any workarounds?

[2020-10-28 13:45] claviska commented on #38
What issue are you facing with Stencil 2 and `@stencil/sass`? I've been successfully using this combination for awhile and everything is working as expected for me.

Was this just an assumption that they don't work together?

[2020-10-28 14:06] claviska commented on #38
I've confirmed with multiple others in the Stencil Slack group that this is working for them as well. 😅

I'm closing this because it's leading to confusion, as folks are assuming it doesn't work. If there's a reproducible problem, free free to comment here and we'll reopen.

[2020-10-28 14:48] bjolletz commented on #38
I think I've found what the issue was for me, perhaps it can help others with the same problem.

I was using the `styleUrls` property because I had assumed this property would allow me to specify a list os scss files. This apparently worked prior to Stencil 2.0. But looking closer at the documentation, `styleUrls`  is actually described as "Similar as `styleUrl` but allows to specify different sty

[2020-10-28 14:58] TrimA74 commented on #29
same as  #8 .. still waiting for a fix

[2020-10-28 19:36] cam-narzt commented on #38
@claviska how are you testing this? It doesn't work at all:
[code]

[2020-10-28 19:44] claviska commented on #38
It's alive and well in two projects I maintain. The public one can be found here: https://github.com/shoelace-style/shoelace/blob/next/package.json#L43

It looks like `@stencil/core` is a peer dependency, and the way those get installed by npm changed in npm 7, so you probably need to install core manually:

[code]

Or use the `--legacy-peer-deps` flag as [discussed here](https://blog.npmjs.org/po

[2020-10-28 19:50] cam-narzt commented on #38
I have `@stencil/core` already installed and added to my `package.json`, the problem is that `@stencil/sass` requires you to use stencil 1, right here: https://github.com/ionic-team/stencil-sass/blob/master/package.json#L22

The dep should use a `>=` or something.

[2020-10-28 20:00] claviska commented on #38
Fair enough, I'll look into getting that updated and hopefully that will solve it for those having trouble.

I still can't replicate this, though, so a step-by-step would be helpful. I just tried a fresh project:

1. `npm init stencil`
2. `cd [project]`
3. `npm install`
4. `npm install -D @stencil/sass`
5. [Follow these instructions to configure Sass](https://github.com/ionic-team/stencil-sass#ste

[2020-10-28 20:05] cam-narzt commented on #38
Here's what I get following those steps with node: `v15.0.1`:
[code]

[2020-10-28 20:09] claviska commented on #38
This is starting to make sense now 🙃

Node 15 is throwing that error. If you're on <=14 you won't see it, so things just "work." I'll work on a fix. Thanks for providing the extra details!

[2020-11-06 19:40] gleesik opened #40 "Compiling .sass files doesn't work correctly"
It seems that the current version of @stencil/sass doesn't allow the use of syntax offered by `.sass` files the correct way.

I tried to figure this out so that I can understand what might be the root cause of this problem. I think there is likely a parsing problem (or something similar) of `.sass` files to the sass compiler. The classical css/scss syntax works even if the file extension is '.sass

[2020-11-06 23:33] gleesik commented on #40
I made some more investigations and after I found the problem I fixed it by detecting the current file extension. If the file extension is `.sass` the indented syntax is selected.

@adamdbradley Can you take a look at this? 😎

**NOTE**: I also updated the specs.

[2020-11-11 15:13] #40 closed

[2020-11-11 15:13] #38 closed

[2020-11-15 21:40] nikrolls opened #43 "v1.4.0 breaks mixins included via injectGlobalPaths"
Something about the upgrade from v1.3.2 to v1.4.0 has broken the ability to have global mixins declared in `injectGlobalPaths` files accessible to any other `scss` files in the project.

Here is a minimal reproduction of the issue: https://github.com/nikrolls/stenciljs-sass-globalpaths-repro

[code]
However, if you change `@stencil/sass` in `package.json` to `1.3.2`:
[code]
Everything works fine.

[2020-11-18 08:46] daure commented on #8
Is there an alternative plugin that doesn't have this issue?

[2020-11-18 15:56] aharris commented on #8
My workaround, for now, was to use `npm-watch` and touch the main file whenever any global CSS (scss in my case) file changes.

stencil.config.ts:

[code]

simplified package.json:

[code]

So in this example when and `.scss` file is saved inside of `src/styles` the main `globalStyle` file is touched which forces a rebuild.

[2020-11-21 12:06] jcamargodev commented on #24
I have this problem too, did anyone find a solution for this?
I can't lose the functionality of dart-sass so using the suggested tip is unfortunately not a solution :(

@quackes Do you have any news on this subject?

[2020-11-23 09:32] SheepFromHeaven commented on #43
@nikrolls I encountered the same problem.
The issue behind our problem is the change that has been done using `@use` instead of `@import`.

[2020-11-23 19:54] driskull commented on #43
We are seeing the same issue

[2020-11-24 07:58] SheepFromHeaven commented on #43
@adamdbradley I will fix it by extending the injectGlobalPaths options to being able to choose the way of importing (import vs use) with the default being import, so the package will not get breaking version and we all can work on without upgrading all our settings.

[2020-11-24 08:35] SheepFromHeaven commented on #43
I just noticed, the docs even say v2 but it has been released as v1.4

[2020-11-24 08:51] erichstark commented on #43
I have got an error that variables (from injectGlobalPath) are not available in components. Any tips how to solve it?

[code]

[2020-11-24 14:04] dutscher commented on #43
@jaredcbaum you wrote in the readme for version 2 but the release was 1.4.0 :)

[2020-11-30 22:09] jaredcbaum commented on #43
@dutscher Yep, you're right.  The changes have been reverted in v1.4.1.  Those changes will be rereleased in v2 like the docs said previously, since they are breaking changes.

[2020-11-30 22:11] jaredcbaum commented on #43
Updating to stencil-sass v1.4.1 or downgrading to v1.3.2 should fix.

[2020-11-30 22:12] jaredcbaum commented on #43
@erichstark Upgrading to v1.4.1 or downgrading to v1.3.2 should fix.

[2020-12-01 05:38] nikrolls commented on #43
Thanks @jaredcbaum, I'll give this a go.

[2020-12-01 10:33] SheepFromHeaven commented on #43
@jaredcbaum in case they are released in v2.0 we will not have the possibility to use mixins then? If this is the case, I do not see a the use of this change!

In this case please consider my proposed change/PR #44

[2020-12-01 10:33] SheepFromHeaven commented on #43
This will make a progressive improvement instead of breaking

[2020-12-01 15:18] jaredcbaum commented on #43
@SheepFromHeaven Thanks again for the PR, we will be testing it out soon to see how it works.

In this specific example it would have been possible to use the "includes.scss" globally by having the ```injectGlobalPaths``` set up like this:
[code]

The * character indicates a global namespace, otherwise you'd have to access the mixins in the file by saying doing ```@include includes.test-mixin```

[2020-12-01 18:30] SheepFromHeaven commented on #43
@jaredcbaum thanks for the explanation there 🙂

[2020-12-02 00:33] nikrolls commented on #43
This worked, thanks @jaredcbaum!

[2020-12-02 00:33] #43 closed

[2020-12-02 03:39] jaredcbaum commented on #43
@nikrolls Of course, glad it work!

@SheepFromHeaven No problem, glad I could help.  Thank _you_ for contributing!

[2020-12-02 19:50] tfrijsewijk commented on #24
I got around this limitation as well, even for writing my own functions this is a problem. I had to re-export the instance as well to get access to the correct types.

I persisted the changes using https://www.npmjs.com/package/patch-package, so I can use this in CI/CD as well. It sure isn't pretty and I recommend caution for those doing this as well.

So, why is dart-sass bundled anyway?

[2021-01-22 14:34] janarvaez opened #48 "VSCode hints"
I can't seem to get any help in VSCode about the available variables and its values.

I have:
[code]

But when writing my styles, I don't get any intellisense

[2021-01-26 12:18] kerosin opened #49 "Build fails with "Can't find stylesheet to import." if injectGlobalPaths is used"
## Current Behavior
If using injectGlobalPaths parameter
[code]
the build fails with
[code]
If I leave out the parameter, the builds succeeds.I suspect the path resolution not working correctly on my nx workspace, because it works on a simple stencil project.

## Expected Behavior
using injectGlobalPaths parameter should work without causing issues

## Context (Environment)
- nx 11 workspace
- @st

[2021-02-01 13:02] kerosin commented on #49
reason is that ```context.config.rootDir``` points to `nx-stencil-example\dist\libs\web-components` instead of `nx-stencil-example/libs/web-components/stencil.config.ts`

So [resolving the paths injectGlobalPaths](https://github.com/ionic-team/stencil-sass/blob/b1cc372e98837f63d78b36226af072d083659fbc/src/util.ts#L44-L54) is errornous and causes an error on the dart sass package.

[2021-04-05 07:55] psamusev commented on #1
Hi there, The problem still reproducible for the @stencil/sass 2.0.0-0

[2021-04-20 11:09] xBau opened #52 "Stencil-sass v2"
After making a clean install it is still downloading v1.4.1 so I can't use latest features from Sass like @use.
Docs says that there are a version 2, so that seems to be the issue. Am I doing something wrong?

Thanks in advance :)

<img width="264" alt="Screenshot 2021-04-20 at 13 02 05" src="https://user-images.githubusercontent.com/2278988/115386148-53c00380-a1d9-11eb-81cd-e48e81f930aa.png">

<i

[2021-04-20 15:56] xBau commented on #52
For anyone with the same issue, this did the trick for me:
[code]

PS: Dart sass was released more than 2 years ago, so it should be the default imho.

[2021-04-20 15:57] #52 closed

[2021-04-23 07:32] janrembold commented on #49
@jase88  Is there any workaround for this issue? For me this feature is completely broken right now :(

[2021-05-04 17:21] stevenpetryk commented on #9
That's just a workaround, though. Regardless of the ability to work around it, the compiler still has incorrect output.

[2021-05-15 16:19] corysmc commented on #49
I'm also having issues with this.
nx workspace using stencil, and I'm getting the same error when trying to inject global paths. Anyone come up with a workaround?

[2021-05-15 16:27] jase88 commented on #49
So what this global path does is just adding your globals to the head of each scss file with `@use myGlobal`.

So the only workaround I can think of would be a own script that automatically writes your global files at the top :/

[2021-05-16 16:48] corysmc commented on #49
Thanks @jase88 that helps!

[2021-05-22 12:58] tfrijsewijk commented on #52
Version `2.0.0-0` is published with dist-tag `next` instead of `latest` (which is still 1.4.1).

You can also install version `2.0.0-0` using `npm install @stencil/sass@next`.

Regarding your comment about Dart sass being default: `@stencil/sass` 1.x already uses dart-sass, but there was an issue using `injectGlobalPaths`. You can read more about that here: https://www.npmjs.com/package/@stencil/s

[2021-05-22 13:10] tfrijsewijk commented on #49
You could try version 2.0.0-0, which is released 13 days ago but with dist-tag `next` instead of `latest`

[2021-08-12 15:01] icex commented on #26
I would love to see this properly implemented.

[2021-08-18 12:51] Richienb opened #61 "Make `sass` a peerDependency"
Instead of manually updating the sass dependency every time an update is available, it could be done by the consumer instead.

[2021-08-19 16:05] eseselpg opened #62 "math.div function is undefined"
A project using the latest stable version of `material-components-web` component fails to build due to missing `math.div` SASS function.

Could we have `sass` dependency updated?
[code]

[2021-09-01 05:29] jan-paulus commented on #62
Will be fixed once https://github.com/ionic-team/stencil-sass/pull/55 is merged. But the stencil team seems to be busy with other things as the moment.

[2021-09-01 13:03] kirakishin commented on #32
hello,
seems to be back again with :
[code]

[2021-09-23 12:38] tgrassl commented on #61
This would be really helpful for us as well 👍

[2021-09-23 12:53] sommereder commented on #61
+100

[2021-09-24 20:31] splitinfinities commented on #62
Hey there, thank you for the patience getting back to you. The new team is getting started and we're working through the backlog now. I'm going to take a peek at some of the solutions here around peer deps and updating the internal version and circle back soon.

I think updating to be a peer dep would likely be a breaking change for this package, but I'm not against it! BRB soon with more.

[2021-09-24 21:33] splitinfinities commented on #29
We do have a prominent ticket in the @stencil/core backlog for this. I'll keep my eye on it and report back here. The challenge is the watched files that get prepared when the Stencil compiler starts up can't get a map of all included files- even within css files BTW.

[2021-09-24 21:36] splitinfinities commented on #28
@michalklim the additionalData approach may be awesome! If you (or anyone else reading this) has capacity to make a PR to provide this for @stencil/sass, I think it'd be awesome. Let me know how I can help.

[2021-09-24 21:40] splitinfinities commented on #26
We do have component source maps on deck, so help adding them to sass and beyond would be huge! If someone has capacity to implement (Notably after we get source maps into @stencil/core) that would be huge.

[2021-09-24 21:42] splitinfinities commented on #22
Seems we may need to nix the docs for that. I'll take a peek later and circle back.

[2021-09-24 21:45] splitinfinities commented on #18
Hey all, if you can confirm for me if this still exists after using [@stencil/sass@1.15.0-0](https://www.npmjs.com/package/@stencil/sass/v/1.5.0-0), an upcoming prerelease, I would really appreciate it!

[2021-09-24 21:47] splitinfinities commented on #16
You know, that's a good question. I'm not so sure it is. Would you like this behavior? If so, upvote this please!

Also, it may be worth signal boosting this more so in the @ionic-team/stencil repo. That way, other non-sass community users could benefit from this behavior as well, if we decide to introduce it. Ultimately, that's where the code change would probably be anyways.

[2021-09-24 21:49] splitinfinities commented on #8
This issue is something that exists in @ionic-team/stencil more than this sass plugin. Please go signal boost issues there like https://github.com/ionic-team/stencil/issues/2635

[2021-09-24 21:49] #8 closed

[2021-09-28 11:21] KevinCarnaille2 commented on #24
Since 2019 there are no decent way to fix it ?
I'm not sure to understand what you mean by "reexport the instance" though ?

[2021-09-28 12:39] quackes commented on #24
I mean, that the instance of dart-sass can be imported by stencil.
that way we could use it in custom functions.
not the best solution, because you could not use functions from other modules.

imho the best solution is not to use bundled dart-sass.

[2021-09-29 10:51] klh commented on #62
could you sorta tell us whats going on ? - the whole stack is growing dusty - and PRs not getting picked up across the board, so people are actually starting to look towards open-cw and lit.dev instead due to the very slow update / progress (months without any reactions)

[2021-09-29 22:42] splitinfinities commented on #62
Yeah @klh! We're getting all of our ducks in a row now that the new team has been working on the core repo for a while so that we can more reliably support everything else within the `@stencil` npm scope. If you join us here https://youtu.be/47h9AVlTaF0 tomorrow I can answer any questions you may have! It's been my priority to organize all the repos so we can effectively work on them.

[2021-10-06 23:05] elysium001 opened #67 "sass error undefined variable using injectGlobalPaths"
I noticed that `injectGlobalPaths` stopped working after I updated to v1.5.0

I reverted to 1.4 in the meantime.

Please let me know if you need more information.

node version: `v14.16.1`
os: Mac 10.15.7

Here's what my dependencies look like:
[code]

[2021-10-07 07:07] kaiszybiak commented on #67
Hey @elysium001 :) I had the same issue.

**Context**:
bump @stencil/sass from 1.4.1 to 1.5.0 see changes: [v1.4.1...v1.5.0-0](https://github.com/ionic-team/stencil-sass/compare/v1.4.1...v1.5.0-0)

**Assumption:**
This [line](https://github.com/ionic-team/stencil-sass/compare/v1.4.1...v1.5.0-0#diff-3294a832ea2276e554177e0b3007cc2d401c082912c7fbde49fa09141bf1aed1R58) is wrong according to [this](ht

[2021-10-07 18:01] gtranter commented on #67
I'm running into the same bug as well.

Also - the 1.5.0 update should have been 2.0.0 IMO - because it requires Stencil 2.x - that's a breaking change. We still work on some Stencil 1.x projects which have the dependency as
[code]
When the project is installed, it throws the warning
[code]

[2021-10-11 15:45] splitinfinities commented on #67
I'm getting started on the root issue here now.

[2021-10-11 15:49] splitinfinities opened #68 "@use array format validation"
Within v2, when a format that's passed is not passed as a multidimensional array, either validate the array and fire back a warning/error, or transform the array to a multidimensional array with a "*"

e.g.
`injectGlobalPaths: ["some-path/global.scss"]`

Either errors or transforms into: `injectGlobalPaths: [["some-path/global.scss", "*"]]`

[2021-10-12 20:49] splitinfinities commented on #67
Encouraging to hear! Thank y'all so much for the patience! 🙇‍♂️

[2021-10-12 20:49] #67 closed

[2021-11-16 12:57] lennu opened #70 "Property: injectGlobalPaths doesn't take into account @use rules"
Lets say I have this config:

[code]

And then a file like this:

[code]

This will end up with error: "@use rules must be written before any other rules."
https://sass-lang.com/documentation/at-rules/use

The code which adds the import statements, should analyze the file and add import clauses under `@use` statements instead of just adding them to beginning of the each file.
https://github.com/io

[2021-11-18 15:49] andrejpavlovic commented on #70
As a workaround I removed the use of `injectGlobalPaths` and now import global scss files (such as `mixins.scss`) directly inside of component styles (such as `styles.scss`).

[2021-11-29 01:13] A143447 commented on #70
Our workaround was to create a workaround-scss file that performs the calculations, assigning them to variables and importing that file in the `mixins.scss`. It's a bit of a hack, we only had seven instances where that calculation was needed (as opposed to many more `.scss` files)

[2022-01-28 07:00] r3dDoX commented on #70
Just ran in the same issue. Since we have quite a big project these workarounds are not a good option for us. Is anyone working on this?

[2022-02-11 07:34] prodrammer commented on #38
FYI, I get a similar error on node 16. Downgrading to 14 fixed it.

[2022-04-01 06:50] dgonzalezr commented on #49
I just faced the same issue while trying to move my NPM monorepo to Nx workspaces, what worked for me with `@stencil/sass` v1.5.2 was concatenating the path with `__dirname`:

[code]

Hope it helps 🙂

[2022-04-07 12:12] Wvduijn commented on #49
@dgonzalezr This works for me! Nice man thanks!

[2022-05-02 14:29] rallz-dev commented on #49
Even with the solution proposed by @dgonzalezr , I'm getting the same "Can't find stylesheet to import" error. Is there any updates on this issue?

[2022-07-08 15:18] sprockow commented on #24
Had the same problem when updating sass function to from node-sass to dart-sass. The function pulled it's own version of sass, and the `instance of` checks failed. I solved this by wrapping the function in another function, and ensured that the return value used the same sass module my build tool was using

[code]

[2022-07-08 15:26] tfrijsewijk commented on #24
@KevinCarnaille2: I'm sorry, I completely missed your question!

I modified the `@stencil/sass` package inside the `node_modules` folder. Using `patch-package` (an NPM package) I'm able to persist/reapply these changes whenever `package.json` is installed (in my case using `yarn install`).

* So my patch is here: https://github.com/dso-toolkit/dso-toolkit/blob/master/patches/%40stencil%2Bsass%2B1.

[2022-08-24 14:58] Mo-Mongi commented on #15
best way is to use an outsource desktop app for this. I use an app called **Koala**  it's free and it's working just fine.

[2022-09-30 16:05] jaredtbates commented on #49
We are seeing the same issue, but fixed on Mac/Linux when using the fix from @dgonzalezr. It still doesn't work on Windows though.

[2022-10-02 17:11] dgonzalezr commented on #49
Indeed, my solution only works on Unix, I was struggling with the same issues on Windows, @jaredtbates you've "saved my life" 😆 )))

[2022-10-07 20:24] nickjwilde commented on #70
We had this same issue as well. Looking into @lennu reference to https://github.com/ionic-team/stencil-sass/blob/7871073e3a882af4bf9a8fc7bf4faf6092828ee4/src/util.ts#L55

Switching that line to ```
return `@use "${injectGlobalPath}"${importTerminator}`;
[code]
Ends up with a colors namespace as per docs https://sass-lang.com/documentation/at-rules/use#choosing-a-namespace

Using ```
return `@use "

[2022-10-10 18:25] rwaskiewicz commented on #16
Hey! Thanks for this suggestion!

I don't think we've received enough signal from the community that this feature is desired. As a result, I'm going to close this for now. We can always re-evaluate this feature request some time in the future.

Thanks again!

[2022-10-10 18:25] #16 closed

[2022-10-10 19:07] rwaskiewicz commented on #18
Thanks @FDiskas!

In that case, I'm going to close this issue. Thanks again!

[2022-10-10 19:07] #18 closed

[2022-11-07 20:49] rwaskiewicz commented on #61
Hey folks,

Thanks for the patience on this one. After doing a little digging and discussing with the team, we've come to consensus that making `sass` a peer dependency is not something we feel is the right decision for this library.

This decision is influenced by the following points:

- We believe that making `sass` a peer dependency will increase the difficulty in maintaining this library. The

[2022-11-07 20:49] #61 closed